<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head"></head>

<body class="bg-light">

<nav th:replace="fragments/header :: header"></nav>

<div class="d-flex">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4" th:each="product : ${products}">
                        <div class="card h-100">
                            <a th:href="@{'/product/' + ${product.id}}">
                                <img class="card-img-top" th:src="@{'/img/' + ${product.image}}" width="253" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a th:href="@{'/product/' + ${product.id}}" th:text="${product.title}"></a>
                                </h4>
                                <h5 th:text="#{text.products.price(${product.price})}"></h5>
                                <p class="card-text" th:text="${product.brandName}"></p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                <a class="btn btn-success" th:href="@{'/cart/add/' + ${product.id}}">В корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script th:replace="fragments/footer :: scripts"></script>
<script src="https://bootadmin.net/js/datatables.min.js"></script>

</body>
</html>